.album-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.album-card {
  align-items: center;
  background: #aaa49d;
  border-radius: 6px;
  display: flex;
  height: 320px;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
  width: 290px;
}

.search {
  display: grid;
  grid-template: auto;
  grid-template-areas: 'aside main main';
  grid-template-columns: 150px 1fr;
}

.search-container {
  grid-area: main;
  position: relative;
  top: 104px;
}

.form-search {
  background: mediumseagreen;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.results-container {
  position: relative;
  text-align: center;
  top: 120px;
}
