.main-login {
  background-color: #2f2f2f;
  height: 100vh;
}

.box-form {
  height: 100%;
}

.form {
  background-color: #3a3a3adc;
  border-top: 5px solid #03a803;
  box-shadow: 5px 5px 5px #131313d3;
  padding: 40px 20px;
  width: 300px;
}

.inputName-container {
  border: 2px solid green;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  outline-color: coral;
  padding: 5px 10px;
}

.inputName-container:focus {
  border-color: #25e517cc;
  box-shadow: 0 1px 1px rgba(123, 229, 23, 0.075) inset , 0 0 8px rgba(81, 229, 23, 0.6);
  outline: 0 none;
}

.button:disabled {
  cursor: not-allowed;
}
