.header {
  background: aquamarine;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-container {
  align-items: center;
  background: black;
  border-radius: 50px;
  color: white;
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.user-icon {
  background: aquamarine;
  border-radius: 50%;
  padding: 5px;
}

.nav {
  align-content: center;
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.nav-link {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}



