/* Codigo inspirado em um tutorial do youtube
https://www.youtube.com/watch?v=SB9PQrOJVz4 */

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {

  to { transform: rotate(1turn); }
}
